*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  // color: inherit;
}

button {
  line-height: 1;
}

input,
textarea,
select,
label,
pre,
code {
  line-height: 1;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

:focus {
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

body {
  font-family: inherit;
  background: #fff;
  color: #222;
}
