@use './variables' as v;

:root {
  /* Dark Theme (Default) */
  --bg: #181829;

  --surface: #23234a;
  --surface-alt: #7988aa;

  --text: #fffae5;
  --text-muted: #c1ade7;

  --border: #3b3e44;

  --accent: #21d9df;
  --accent-hover: #ff2eb9;
  --accent-bg: rgba(0, 230, 230, 0.1);
  --accent-border: rgba(0, 230, 230, 0.4);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.6);

  --toggle-bg: #111418;
  --toggle-border: #acbadb;
  --toggle-border-hover: #dae3f8;
}

[data-theme='light'] {
  --bg: #f5f4e9;

  --surface: #a6dce2;
  --surface-alt: #dfaccd;

  --text: #1a1a2e;
  --text-muted: #5a5a7a;

  --border: #d1d5db;

  --accent: #26bec4;
  --accent-hover: #e032a6;
  --accent-bg: rgba(33, 217, 223, 0.1);
  --accent-border: rgba(33, 217, 223, 0.8);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.15);

  --toggle-bg: #ffffff;
  --toggle-border: #f3cc09;
  --toggle-border-hover: #ffd600;
}
