@use './reset';
@use './themes';
@use './variables' as v;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: #{v.$font-main};
  transition: var(--transition-theme);
}

#root {
  width: 100%;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

a {
  color: var(--accent);

  &:hover {
    color: var(--accent-hover);
  }
}

p {
  max-width: 630px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

h1,
h2 {
  margin-bottom: 1rem;
  color: var(--accent-hover);
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
