.roomContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  aspect-ratio: 16 / 10;
  max-height: calc(100vh - 105px); // adjust 120px to your header+footer height
  margin: 0 auto;
  // padding: 1rem;
  border: 1px solid #222; // debug
  background: #0a0a0a;
}
