@use '../../styles/variables' as v;

.projectsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projectsPage {
  // padding: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--surface);
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--border);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border 0.2s ease;

  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--accent);
  }

  h3 {
    color: var(--accent);
  }
}

.thumb {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 0.75rem;
  background: #0e1720;
  aspect-ratio: 3 / 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.25s ease;
  }

  .loadingThumb {
    background: var(--surface-alt);
  }
}

.description {
  font-size: 0.9rem;
  color: var(--text);
  line-height: 1.4;
  margin-bottom: 0.7rem;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1rem;

  li {
    background: var(--surface);
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    font-size: 0.75rem;
    color: var(--text);
    border: 1px solid var(--border);
    background-color: var(--surface-alt);
  }
}

.highlights {
  margin-bottom: 1rem;

  li {
    font-size: 0.85rem;
    color: var(--text-muted);
    margin-bottom: 0.25rem;
  }
}

.links {
  margin-top: auto;
  display: flex;
  gap: 0.6rem;

  a {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: calc(50% - 0.6rem);
    align-items: center;
    text-align: center;
    padding: 0.6rem 0.5rem;
    border-radius: 6px;
    font-size: 0.85rem;
    // color: var(--accent-hover);
    color: #000;
    text-decoration: none;
    background-color: var(--accent);
    transition:
      color 0.15s,
      background-color 0.15s;

    &:hover {
      // color: var(--accent);
      color: #fff;
      background-color: var(--accent-hover);
    }
  }

  .githubLink {
    margin-left: auto;
    background-color: #010409;
    color: #eee;

    &:hover {
      background-color: #3a3a3a;
    }
  }
}
